.card{
  
    background: rgba(255, 255, 255, 0.22);
    color: rgb(59, 58, 58);
    
 
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border: 1px solid rgba(89, 89, 89, 0.33);
   
    padding: 4vh 2vw;
    width: max-content;
    margin-right: 0.2vh;
    float: right;
   
  }

  td{
  padding: 2vh;
  }