.component{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
}

.graph{
    margin-top: 5%;
    width: 80%;
}
.company{
    display: flex;
    justify-content: flex-end;
    width: 80%;
    height: 40px;
}
.company select{
    background: #EFECFF;
    color: #7462F7;
    font-size: larger;
}
.timefilter{
    display: flex;
}
.w-full{
    width: 100%;
}