.body{
  background: no-repeat url('./Group\ \(1\).png');
  height: 100%;
  width: 100%;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.middle{
  display: flex;
  font-size: 4em;
  font-family: poppins;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 144px;
  color: rgba(255, 255, 255, 0.81);
  text-align: left;
  width: 70%;
}
.bottomhome{
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 48px;

color: #373D3F;
}
.top{
  display: flex;
  justify-content: center;
}