.container{
    display: flex;
    width: 100%;
    height:100%;
    justify-content: center;
  }
  
  .signUp{
    font-family: 'Poppins';
    margin-top: 7%;
  }
  form {
    position: absolute;
    text-align: center;
    background: #fff;
    width: 500px;
    height: 640px;
    border-radius: 5px;
    padding: 30px 20px 0 20px;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
  }
  
  p {
    font-weight: 100;
    font-size: 22px;
    margin-bottom: 40px;
  }
  
  p > span {
    padding-top: 3px;
    display: block;
    font-weight: 400;
    font-size: 9px;
  }
  
  h3 {
    font-size: 35px;
    margin-bottom: 30px;
    text-align: center;
  }
  
  input,
  button{
    outline: none !important; 
  }
  
  button.fb {
    border: none;
    background: linear-gradient(90deg, #7462F7 0%, #BCB4F1 100%);
    width: 160px;
    height: 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 4px;
    border: 1px solid #29487d;
    cursor: pointer;
    margin-bottom: 20px;
    transition:all 0.3s linear;
  }
  button.fb:hover {
    background: #fff;
    color: #3b5998;
  }
  
  button.form-btn {
    position: absolute;
    width: 50%;
    height: 60px;
    bottom: 0;
    border: 0;
    font-family: 'Dosis';
    font-size: 24px;
    text-transform: uppercase;
    cursor: pointer;
  }
  
  button.form-btn.sx {
    left: 0;
    border-radius: 0 0 0 5px;
    background-color:#BCB4F1;
    color: #fff;
    transition:all 0.3s linear;
  }
  
  button.form-btn.sx:hover {
    color: #fff;
  }
  
  button.form-btn.sx.back {
    transition:all 0.3s linear;
  }
  .signIn{
    margin-top: 7%;
  }
  
  button.form-btn.dx {
    right: 0;
    border-radius: 0 0 5px 0;
    background: linear-gradient(90deg, #7462F7 0%, #BCB4F1 100%);
    color: #fff;
  }
  
  input {
    border: none;
    border-bottom: 1px solid #7462F6;
    width: 85%;
    font-family: 'Roboto';
    color: #7462F6;
    text-align: center;
    font-size: 21px;
    font-weight:100;
    margin-bottom:25px;
  }
  
  ::-webkit-input-placeholder {
     color: #7462F6;
    font-family: 'Roboto';
    font-weight:100;
  }
  
  :-moz-placeholder {
     color: #7462F6;  
    font-family: 'Roboto';
    font-weight:100;
  }
  
  ::-moz-placeholder {
     color: #7462F6;  
    font-family: 'Roboto';
    font-weight:100;
  }
  
  :-ms-input-placeholder {  
     color: #7462F6; 
    font-family: 'Roboto';
    font-weight:100;
  }
  
  .signIn input,
  .signUp .w100 {
    width: 100%;
  }
  
  .signIn{
      z-index: 1;
  }
  
  .signUp {
    z-index: 2;
  }
  
  .active-dx{
    animation-name: foregrounding-dx;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
  }
  
  .active-sx{
    animation-name: foregrounding-sx;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
  }
  
  .inactive-dx{
    animation-name: overshadowing-dx;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
  }
  
  .inactive-sx{
    animation-name: overshadowing-sx;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
  }
  
  @keyframes overshadowing-dx {
    0%{
      z-index:2;
      transform: perspective(100px) translate3d(0px, 0px, 0px);
      opacity: 1;
      box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
    }
    100%{
      z-index: 1;
      transform: perspective(100px) translate3d(100px, 0px, -30px);
      opacity: 0.5;
      box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
    }
  }
  
  @keyframes overshadowing-sx {
    0%{
      z-index:2;
      transform: perspective(100px) translate3d(0px, 0px, 0px);
      opacity: 1;
      box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
    }
    100%{
      z-index: 1;
      transform: perspective(100px) translate3d(-100px, 0px, -30px);
      opacity: 0.5;
      box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
    }
  }
  
  @keyframes foregrounding-dx {
    0%{
      z-index:1;
      transform: perspective(100px) translate3d(100px, 0px, -30px);
      opacity: 0.5;
    }
    50%{
      z-index:2;
      transform: perspective(100px) translate3d(400px, 0px, -30px);
    }
    100%{
      z-index:2;
      transform: perspective(100px) translate3d(0px, 0px, 0px);
      opacity: 1;
    }
  }
  
  @keyframes foregrounding-sx {
    0%{
      z-index:1;
      transform: perspective(100px) translate3d(-100px, 0px, -30px);
      opacity: 0.5;
    }
    50%{
      z-index:2;
      transform: perspective(100px) translate3d(-400px, 0px, -30px);
    }
    100%{
      z-index:2;
      transform: perspective(100px) translate3d(0px, 0px, 0px);
      opacity: 1;
    }
}